<aside class="sidebar">
    <nav class="blog-menu">
        <a class="blog-menu__item" href="{{path_prefix}}">Home</a>
        <a class="blog-menu__item" href="{{path_prefix}}new">New</a>
        <a class="blog-menu__item" href="#">Blog</a>
        <a class="blog-menu__item" href="#">About</a>
        <a class="blog-menu__item" href="#">Contact</a>
    </nav>
    <form action="" class="search-form">
        <label class="search-form__label" for="keywords">Search</label>
        <input class="search-form__search-field" id="keywords" type="search" name="keywords">
    </form>
</aside>